#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Montserrat;

  
}

.big-container {
  box-shadow: 0px 0px 5px rgba(111, 130, 119, 0.25);
  padding:20px;
  width: 400px;
}