
.container {
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(111, 130, 119, 0.25);
}

.habits {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.mark-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px rgba(111, 130, 119, 0.25);
  border-radius: 6px;
  background-color: #fff;
    
  
}

.mark-container p {
  margin: 0;
  width: 80px;
  flex-shrink: 0;
}

.second-container {
  display: flex;
  gap: 10px;
 flex-shrink: 0;
  flex-wrap: wrap;
    max-width: 200px;
}

.mark-container button {
  flex: 1; 
  max-width: 20%;
  margin-left: 10px;
  border: none;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(111, 130, 119, 0.25);
  padding: 6px 10px;
  font-weight: 550;
  cursor: pointer;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  
}

.second-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.mark-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  
}

.✔ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  background-color: rgb(32, 198, 32);
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.✖ {
  color: red;
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;

}
.custom-box.mark-✖ {
  color: red;
  background-color: white;
}

.select-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  appearance: none;
}


.mark-wrapper:hover .custom-box {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.mark-wrapper::after {
  content: "▼";
  position: absolute;
  right: -10px;
  top: 1px;
  font-size: 10px;
  color: gray;
  z-index: 0;
}

