
 .now {
  background-color: black;
 }

 .habit{
  font-size: 25px;
  font-weight: bolder;
  
 }
 .add-new {
  font-size: 15px;
  font-weight: 600;
  
  margin-bottom: 10px;
 text-align: left;
 

 }
 .add-habit-container {
  box-shadow: 0px 0px 5px rgba(107, 106, 106, 0.25);
  
 padding: 12px;
  
 }
 body {
  display: flex;


 }
 .add-habit-container button {
  box-shadow: 0px 0px 3px rgb(183, 182, 181);
  border: none;
  background-color: white;
  padding: 4px  30px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 7px;
 }

 .add-container {
  display: flex;
  gap: 10px;
 }
 .add-container input {
  width: 250px;
  height: 40px;
   box-shadow: 0px 0px 3px rgb(183, 182, 181);
   border: none;
   padding-right: 20px;
   
  text-indent: 4px;
  border-radius: 5px;
  
   
 }