

.container-stats {
position: relative;
box-shadow: 0px 0px 5px rgba(111, 130, 119, 0.25);
text-align: left;
font-weight: 500;
padding: 5px;
margin-top:15px;
}


.container-stats span {
    position: absolute;
    right: 10px;

}
.stats {
    font-weight: bold;
}